In [1]:
# Get Current Date and Time
import datetime
now=datetime.datetime.now()
print(now)

2019-12-17 00:27:37.394806

In [3]:
# Get Current Date
tod=datetime.date.today()
print(tod)

2019-12-17

In [4]:
d = datetime.date(2019, 4, 13)
print(d)

2019-04-13

## date

In [5]:
from datetime import date
a = date(2019, 4, 13)
print(a)

2019-04-13

In [6]:
timestamp = date.fromtimestamp(1326244364)
print("Date =", timestamp)

Date = 2012-01-11

In [8]:
today = date.today()
print(today.year)
print(today.month)
print(today.day)

2019
12
17

## Time

In [9]:
from datetime import time
# time(hour = 0, minute = 0, second = 0)
a = time()
print(a)

00:00:00

In [10]:
b = time(11, 34, 56)
print(b)

11:34:56

In [11]:
c = time(hour = 11, minute = 34, second = 56)
print(c)

11:34:56

In [12]:
d = time(11, 34, 56, 234566)
print(d)

11:34:56.234566

In [13]:
a = time(11, 34, 56)
print(a.hour,a.minute,a.second)

11 34 56

## datetime

In [17]:
from datetime import datetime
#datetime(year, month, day)
a = datetime(2018, 11, 28)
print(a)
# datetime(year, month, day, hour, minute, second, microsecond)
b = datetime(2017, 11, 28, 23, 55, 59, 342380)
print(b)

2018-11-28 00:00:00
2017-11-28 23:55:59.342380

In [19]:
now=datetime.now()
print(now)

2019-12-17 00:40:06.015973

## datetime.timedelta

In [21]:
from datetime import datetime, date
t1 = date(year = 2018, month = 7, day = 12)
t2 = date(year = 2017, month = 12, day = 23)
t3 = t1 - t2
print(t3)
print(type(t3))

201 days, 0:00:00
<class 'datetime.timedelta'>

In [23]:
from datetime import timedelta
t1 = timedelta(weeks = 2, days = 5, hours = 1, seconds = 33)
t2 = timedelta(days = 4, hours = 11, minutes = 4, seconds = 54)
t3 = t1 - t2
print(t3)

14 days, 13:55:39

In [25]:
t1 = timedelta(seconds = 33)
t2 = timedelta(seconds = 54)
t3 = t1 - t2
print(t3)
print(abs(t3))

-1 day, 23:59:39
0:00:21

In [26]:
# time in seconds
t = timedelta(days = 5, hours = 1, seconds = 33, microseconds = 233423)
print(t.total_seconds())

435633.233423

### Format date using strftime()

In [28]:
from datetime import datetime
# current date and time
now = datetime.now()
t = now.strftime("%H:%M:%S")
print("time:", t)
s1 = now.strftime("%d/%m/%Y, %H:%M:%S")
# mm/dd/YY H:M:S format
print("s1:", s1)
s2 = now.strftime("%m/%d/%Y, %H:%M:%S")
# dd/mm/YY H:M:S format
print("s2:", s2)

time: 00:46:51
s1: 17/12/2019, 00:46:51
s2: 12/17/2019, 00:46:51

In [34]:
from datetime import datetime
date_string = "10 May, 2015"

print("date_string =", date_string)
date_object = datetime.strptime(date_string, "%d %B, %Y")

print("date_object =", date_object)

date_string = 10 May, 2015
date_object = 2015-05-10 00:00:00

In [35]:
fmt = '%a %d %b %Y %H:%M:%S %z'
dat='Sun 10 May 2015 13:54:36 -0700'
obj=datetime.strptime(dat,fmt)
print(obj)

2015-05-10 13:54:36-07:00

#### Handling timezone in Python

In [31]:
from datetime import datetime
import pytz
local = datetime.now()
print("Local:", local.strftime("%m/%d/%Y, %H:%M:%S"))

tz_NY = pytz.timezone('America/New_York') 
datetime_NY = datetime.now(tz_NY)
print("NY:", datetime_NY.strftime("%m/%d/%Y, %H:%M:%S"))

tz_London = pytz.timezone('Europe/London')
datetime_London = datetime.now(tz_London)
print("London:", datetime_London.strftime("%m/%d/%Y, %H:%M:%S"))

Local: 12/17/2019, 00:51:08
NY: 12/16/2019, 14:21:08
London: 12/16/2019, 19:21:08