## String methods
Note: All string methods returns new values. They do not change the original string.

In [1]:
x=input()
print(*sorted(x,key=lambda x:(x.isdigit(),x in '24680',x.isupper(),x)),sep='')

ilove123
eilov132

In [2]:
x=int(input())
c=str(1)
for i in range(1,x+1):
    m=c[0:i-1]
    c=m+str(i)+m[::-1]
    print(c)

5
1
121
12321
1234321
123454321

In [2]:
# str.capitalize()
x='india'
print(x.capitalize())
txt = "36 is my age."
print(txt.capitalize())

India
36 is my age.

In [3]:
#str.casefold()
print('JITESH'.casefold())

jitesh

In [14]:
# str.center(arg=inte)
txt = "banana"
x = txt.center(20)
print(x)
print(len(x))

       banana
20

In [15]:
# str.count('string')
txt="I love apples, apple are my favorite fruit"
print(txt.count('apple'))

2

In [16]:
x = txt.count("apple", 10, 24) # pos==> strt end
print(x)

1

In [17]:
# str.encode()
txt = "My name is St√•le"
print(txt.encode())

b'My name is St\xc3\xa5le'

In [30]:
#str.endswith(strarg)
txt = "Hello, welcome to my world."
print(txt.endswith('.'))
print(txt.endswith('to',0,17))

True
True

In [46]:
# str.expandtabs(int)   A number specifying the tabsize. Default tabsize is 8
txt = "H\te\tl\tl\to"
print(txt.expandtabs(3))
print(txt.expandtabs())

H  e  l  l  o
H       e       l       l       o

In [56]:
#str.find(str)  return index
txt = "Hello, welcome to my world."
print(txt.find('welcome'))
print(txt.find('to',0,7)) #to not in range
print(txt.find("e", 5, 10))
print(txt.find("q"))

7
-1
8
-1

In [59]:
#str.format()
txt = "For only {price:.1f} dollars!"
print(txt.format(price = 49))

For only 49.0 dollars!

In [60]:
txt1 = "My name is {fname}, I'am {age}".format(fname = "John", age = 36)
print(txt1)
txt2 = "My name is {0}, I'am {1}".format("John",36)
print(txt2)
txt3 = "My name is {}, I'am {}".format("John",36)
print(txt3)

My name is John, I'am 36
My name is John, I'am 36
My name is John, I'am 36

In [64]:
txt = "We have {:<5} chickens."
print(txt.format(49))

We have 49    chickens.

In [66]:
txt = "We have {:>5} chickens."
print(txt.format(49))

We have    49 chickens.

In [69]:
txt = "We have {:^4} chickens."
print(txt.format(49))

We have  49  chickens.

In [73]:
txt = "The temperature is {:=8} degrees celsius."
print(txt.format(-5))

The temperature is -      5 degrees celsius.

In [74]:
txt = "The temperature is between {:+} and {:+} degrees celsius."
print(txt.format(-3, 7))

The temperature is between -3 and +7 degrees celsius.

In [75]:
txt = "The temperature is between {:-} and {:-} degrees celsius."
print(txt.format(-3, 7))

The temperature is between -3 and 7 degrees celsius.

In [76]:
txt = "The temperature is between {: } and {: } degrees celsius."
print(txt.format(-3, 7))

The temperature is between -3 and  7 degrees celsius.

In [77]:
txt = "The universe is {:,} years old."
print(txt.format(13800000000))

The universe is 13,800,000,000 years old.

In [78]:
txt = "The universe is {:_} years old."
print(txt.format(13800000000))

The universe is 13_800_000_000 years old.

In [79]:
txt = "The binary version of {0} is {0:b}"
print(txt.format(5))

The binary version of 5 is 101

In [80]:
txt = "We have {:d} chickens."
print(txt.format(0b101))

We have 5 chickens.

In [81]:
txt = "We have {:e} chickens."
print(txt.format(5))

We have 5.000000e+00 chickens.

In [82]:
txt = "We have {:E} chickens."
print(txt.format(5))

We have 5.000000E+00 chickens.

In [83]:
txt = "The price is {:.2f} dollars."
print(txt.format(45))

The price is 45.00 dollars.

In [84]:
txt = "The price is {:F} dollars."
print(txt.format(x))

The price is 1.000000 dollars.

In [85]:
txt = "The price is {:f} dollars."
print(txt.format(x))

The price is 1.000000 dollars.

In [86]:
txt = "The octal version of {0} is {0:o}" #octal format
print(txt.format(10))

The octal version of 10 is 12

In [87]:
txt = "The Hexadecimal version of {0} is {0:x}" # hex format
print(txt.format(255))

The Hexadecimal version of 255 is ff

In [88]:
txt = "You scored {:%}"
print(txt.format(0.25))

You scored 25.000000%

In [89]:
xt = "You scored {:.0%}"
print(txt.format(0.25))

You scored 25.000000%

In [93]:
# str.isalnum()
#txt = "Company12"
txt = "Company 12"
print(txt.isalnum())

False

In [96]:
# isalpha()
txt='amber'
print(txt.isalpha())

True

In [99]:
# str.isdecimal()
a = "\u0030"
print(a.isdecimal())
print(a.isdigit())

True
True

In [104]:
#str.isidentifier() A valid identifier cannot start with a number, or contain any spaces.
#txt = "Demo"
a='1000'
b = "Demo002"
c = "2bring"
d = "my demo"
print(a.isidentifier())
print(b.isidentifier())
print(c.isidentifier())
print(d.isidentifier())

False
True
False
False

In [108]:
#str.islower()
a = "heLlo world!"
print(a.islower())

False

In [109]:
# str.isnumeric()
num='100001'
print(num.isnumeric())

True

In [110]:
# str.isprintable()
txt = "Hello!\nAre you #1?"
print(txt.isprintable())

False

In [113]:
# str.isspace()
txt = "      "
print(txt.isspace())

True

In [114]:
# str.istitle()    Check if each word start with an upper case letter:
txt = "Hello, And Welcome To My World!"
print(txt.istitle())

True

In [115]:
a = "HELLO, AND WELCOME TO MY WORLD"
b = "Hello"
c = "22 Names"
d = "This Is %'!?"
print(a.istitle())
print(b.istitle())
print(c.istitle())
print(d.istitle())

False
True
True
True

In [116]:
# str.isupper()
txt = "THIS IS NOW!"
print(txt.isupper())

True

In [126]:
# str.join()
myDict = {"name": "John", "country": "Norway"} 
print('hello'.join(myDict)) # When using a dictionary as an iterable, the returned values are the keys, not the values.
myTuple = ("John", "Peter", "Vicky")
print(' '.join(myTuple))

namehellocountry
John Peter Vicky

In [133]:
# str.ljust(int)
txt = "banana"
x = txt.ljust(10) #including txt length
print(x, "is my favorite fruit.")
print(txt.ljust(20,'o'))

banana     is my favorite fruit.
bananaoooooooooooooo

In [134]:
#str.lower()
txt = "Hello my FRIENDS"
print(txt.lower())

hello my friends

In [136]:
# str,lstrip()  remove white space
txt = "     banana     "
x=txt.lstrip()
print(txt.lstrip())
print("of all fruits", x, "is my favorite")

banana
of all fruits banana      is my favorite

In [137]:
txt = ",,,,,ssaaww.....banana"
print(txt.lstrip(',ss'))

aaww.....banana

In [139]:
# str.partition(str)
txt = "I could eat bananas all day"
print(txt.partition('banana'))
print(txt.partition("apples"))

('I could eat ', 'banana', 's all day')
('I could eat bananas all day', '', '')

In [140]:
# str.replace(str1,str2)
print(txt.replace("bananas", "apples"))

I could eat apples all day

In [141]:
#str.replace('str1,str2,count)
txt='mmaa'
print(txt.replace('m','a',1))

amaa

In [142]:
# str.rfind(str)  last occurence
txt = "Mi casa, su casa." #The rfind() method returns -1 if the value is not found.
print(txt.find('casa'))

3

In [143]:
# str.rindex(str)
print(txt.rindex('casa'))

12

In [147]:
# str.rjust(int)
txt = "banana"
print(txt.rjust(10))
print(txt.rjust(10,'a'))

    banana
aaaabanana

In [155]:
# str.rsplit(operat)
txt = "apple, banana, cherry"
print(txt.rsplit(',',1))
print(txt.split(','))

['apple, banana', ' cherry']
['apple', ' banana', ' cherry']

In [161]:
#str.rstrip()
txt = "     banana     "
x = txt.rstrip()
print(x)
print("of all fruits", x, "is my favorite")

     banana
of all fruits      banana is my favorite

In [167]:
txt = "banana,,,,,ssaaww....."
print(txt.rstrip('w...'))

banana,,,,,ssaa

In [172]:
# str.splitlines()
txt = "Thank you for the music\nWelcome to the jungle"
print(txt.splitlines(False))
print(txt.startswith('Thanks'))

['Thank you for the music', 'Welcome to the jungle']
False

In [173]:
txt = "     banana     "
print(txt.strip())

banana

In [178]:
txt = ",,,,,rrttgg.....banana....rrr" #A set of characters to remove as leading/trailing characters
print(txt.strip(',r'))

ttgg.....banana....

In [180]:
# str.swapcase()
txt = "Hello My Name Is PETER"
print(txt.swapcase())

hELLO mY nAME iS peter

In [181]:
# str.title()
print(txt.title())

Hello My Name Is Peter

In [184]:
txt='50'
print(txt.zfill(10))
print(len(txt.zfill(10)))

0000000050
10

In [185]:
a = "hello"
b = "welcome to the jungle"
c = "10.000"

print(a.zfill(10))
print(b.zfill(10))
print(c.zfill(10))

00000hello
welcome to the jungle
000010.000

## List methods

In [187]:
# lis.append(elm)
a = ["apple", "banana", "cherry"]
b = ["Ford", "BMW", "Volvo"]
a.append(b)
print(a)

['apple', 'banana', 'cherry', ['Ford', 'BMW', 'Volvo']]

In [188]:
#lis.clear()
fruits = ['apple', 'banana', 'cherry', 'orange']
print(fruits.clear())

None

In [190]:
#lis.copy()
fruits = ['apple', 'banana', 'cherry', 'orange']
x = fruits.copy()
print(x)

['apple', 'banana', 'cherry', 'orange']

In [191]:
# lis.count(elm)
print(x.count('apple'))

1

In [193]:
# lis.extend(lis/tuple/set)
fruits = ['apple', 'banana', 'cherry']
points = [1, 4, 5, 9]
fruits.extend(points)
print(fruits)

['apple', 'banana', 'cherry', 1, 4, 5, 9]

In [195]:
# lis.index()
print(points.index(5))
print(fruits.index('banana'))

2
1

In [208]:
# lis.insert(pos,elm)  The insert() method returns insred value.
fruits = ['apple', 'banana', 'cherry']
fruits.insert(1,'mango')
print(fruits)

['apple', 'mango', 'banana', 'cherry']

In [209]:
#lis.pop(elm)     The pop() method returns removed value.
fruits = ['apple', 'banana', 'cherry']
fruits.pop(1)
print(fruits)

['apple', 'cherry']

In [214]:
fruits = ['apple', 'banana', 'cherry']
fruits.remove('apple')
print(fruits)

['banana', 'cherry']

In [223]:
# lis.reverse()   The buil-in function reversed() returns a reversed iterator object.
fruits = ['apple', 'banana', 'cherry']
fruits.reverse()
print(fruits)
a=reversed(fruits)
print(a)

['cherry', 'banana', 'apple']
<list_reverseiterator object at 0x05ABC0B0>

In [224]:
#list.sort(reverse=True|False, key=myFunc)
cars = ['Ford', 'Mitsubishi', 'BMW', 'VW']
cars.sort()
print(cars)

['BMW', 'Ford', 'Mitsubishi', 'VW']

In [225]:
# A function that returns the 'year' value:
def myFunc(e):
    return e['year']

cars = [
  {'car': 'Ford', 'year': 2005},
  {'car': 'Mitsubishi', 'year': 2000},
  {'car': 'BMW', 'year': 2019},
  {'car': 'VW', 'year': 2011}
]

cars.sort(key=myFunc)

In [226]:
print(cars)

[{'car': 'Mitsubishi', 'year': 2000}, {'car': 'Ford', 'year': 2005}, {'car': 'VW', 'year': 2011}, {'car': 'BMW', 'year': 2019}]

## Dictionary mehtods

In [1]:
# dict.clear()
car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

car.clear()

print(car)

{}

In [2]:
# dict.copy()
car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

x = car.copy()

print(x)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [3]:
# dict.fromkeys(k,v)
x = ('key1', 'key2', 'key3')
y = 0
thisdict = dict.fromkeys(x, y)
print(thisdict)

{'key1': 0, 'key2': 0, 'key3': 0}

In [4]:
x = ('key1', 'key2', 'key3')
thisdict = dict.fromkeys(x)
print(thisdict)

{'key1': None, 'key2': None, 'key3': None}

In [5]:
# dict.get(key)
car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
x = car.get("model")
print(x)

Mustang

In [6]:
car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
x = car.get("price", 15000)
print(x)

15000

In [9]:
# cars.items()
car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
x = car.items()
#car["year"] = 2018
print(x)

dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 1964)])

In [10]:
# car.keys()
print(car.keys())

dict_keys(['brand', 'model', 'year'])

In [11]:
# dict.remove(key)
car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
car.pop("model")
print(car)

{'brand': 'Ford', 'year': 1964}

In [12]:
car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
x = car.pop("model")
print(x)

Mustang

In [13]:
# dict.popitme()
car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
car.popitem()
print(car)

{'brand': 'Ford', 'model': 'Mustang'}

In [14]:
car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

x=car.popitem()

print(x)

('year', 1964)

In [15]:
# dict.setdefault(key,value)
car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

x = car.setdefault("model", "Bronco")

print(x)

Mustang

In [16]:
car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
x = car.setdefault("color", "white")
print(x)

white

In [17]:
# dict.update(k,v)
car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
car.update({"color": "White"})
print(car)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'color': 'White'}

In [18]:
# dict.values()
car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

x = car.values()
print(x)

dict_values(['Ford', 'Mustang', 1964])

## tupels methods

In [19]:
thistuple = (1, 3, 7, 8, 7, 5, 4, 6, 8, 5)
x = thistuple.count(5)
print(x)

2

In [21]:
print(thistuple.index(7))

2

## set methods

In [22]:
# set.add(elm)
fruits = {"apple", "banana", "cherry"}
fruits.add('mango')
print(fruits)

{'banana', 'cherry', 'apple', 'mango'}

In [23]:
# set.clear()
print(fruits.clear())

None

In [24]:
# set.copy()
fruits = {"apple", "banana", "cherry"}
x=fruits.copy()
print(x)

{'banana', 'cherry', 'apple'}

In [25]:
# set1.difference(set2)
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = x.difference(y)

print(z)

{'banana', 'cherry'}

In [26]:
z = y.difference(x)
print(z)

{'google', 'microsoft'}

In [27]:
# set1.difference_update(set2)
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

x.difference_update(y)
print(x)

{'banana', 'cherry'}

In [28]:
# set.dicsard(item)
fruits = {"apple", "banana", "cherry"}

fruits.discard("banana")
print(fruits)

{'cherry', 'apple'}

In [29]:
# set1.intersection(set2)
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = x.intersection(y)
print(z)

{'apple'}

In [30]:
x = {"a", "b", "c"}
y = {"c", "d", "e"}
z = {"f", "g", "c"}

result = x.intersection(y, z)
print(result)

{'c'}

In [31]:
# set1.intersection_update(set2,set3....)
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

x.intersection_update(y)
print(x)

{'apple'}

In [32]:
# set1.isdisjoint(set2)
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "facebook"}
print(x.isdisjoint(y))

True

In [33]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = x.isdisjoint(y)    #1 interstn present
print(z)

False

In [39]:
# set1,issubset(set2)
# set1,issuperset(set2)
x = {"a", "b", "c"}
y = {"f", "e", "d", "c", "b", "a"}

z = x.issubset(y)
#z = y.issubset(x)
m=x.issuperset(y)
print(z)
print(m)

True
False

In [37]:
x = {"a", "b", "c"}
y = {"f", "e", "d", "c", "b"}

z = x.issubset(y)
print(z)

False

In [44]:
# set.pop(elm) remove random item
fruits = {"apple", "banana", "cherry"}

fruits.pop()
print(fruits)

{'cherry', 'apple'}

In [45]:
fruits = {"apple", "banana", "cherry"}

x = fruits.pop()
print(x)

banana

In [47]:
# set1.symmetric_difference(set2)
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = y.symmetric_difference(x)
print(z)

{'google', 'microsoft', 'cherry', 'banana'}

In [48]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

x.symmetric_difference_update(y)
print(x)

{'google', 'microsoft', 'cherry', 'banana'}

In [49]:
# set1.union(set2,set3,....)
x = {"a", "b", "c"}
y = {"f", "d", "a"}
z = {"c", "d", "e"}

result = x.union(y, z)
print(result)

{'a', 'e', 'd', 'c', 'f', 'b'}

In [50]:
# set1.update(set2)
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

x.update(y)
print(x)

{'cherry', 'apple', 'banana', 'google', 'microsoft'}

## files methods

In [69]:
# file.read()
f = open("raw.txt", "r")
print(f.read())
f.close()

Name,Year,Gender,Count
Jane,1880,F,215
Jane,1881,F,216
Jane,1882,F,254
Jane,1883,F,247
Jane,1884,F,295
Jane,1885,F,330

In [58]:
# file.fileno()  The fileno() method returns the file descriptor of the stream, as a number.
f = open("raw.txt", "r")
print(f.fileno())

4

In [ ]:
n=int(input())
x=input().split()
print(all([int(i)>0 for i in x]) & any([j==j[::-1] for j in x]))

In [2]:
import pyperclip as pp
pp.copy('hey,i am  jitesh')
pp.paste()

'hey,i am  jitesh'